body
{
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
}
h3
{
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.918);
}
#layer
{
     display: none; 
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width:800px; 
    height:500px;
    background-color:rgba(0, 0, 0, 0.7);
    
}
.text p
{
    color: #ffff;
    font-size: 2rem;
}
.text label
{
    color: #ffff;
    font-size: 1.5rem;    
}
